* {
    border: 1px solid black;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#initiative-bar {
    width: 100vw;
    height: 50px;
}

#player-entry-form, #enemy-entry-form{
    display: none;
}

.card {
    height: 50px;
    width: auto;
}

#player-card-container {
    height: 100px;
    width: 100px;
}

.form {
    height: auto;
    width: 100vh;
    overflow: auto;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    background-color: aquamarine;
}

.submit {
    z-index: 1;
    background-color: black;
    float: right;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}