* {
    border: 1px solid black;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#initiative-bar {
    width: 100vw;
    height: 50px;
}

#player-entry-form, #enemy-entry-form{
    display: none;
}

.card {
    height: 50px;
    width: auto;
}

#player-card-container {
    height: 100px;
    width: 100px;
}